aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.4.0
aiosqlite==0.22.1
aistudio-sdk==0.3.8
alphashape==1.3.1
altgraph==0.17.4
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.9.0
asttokens==3.0.1
async-timeout==4.0.3
asyncio==3.4.3
attr==0.3.2
attrs==25.4.0
Authlib==1.6.6
backoff==2.2.1
backports.tarfile==1.2.0
bce-python-sdk==0.9.56
beartype==0.22.9
beautifulsoup4==4.14.3
black==25.12.0
blinker==1.9.0
brotli==1.2.0
bs4==0.0.2
cachetools==6.2.4
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.1
click==8.3.1
click-log==0.4.0
cloudpickle==3.1.2
colorama==0.4.6
colored==2.3.1
colorlog==6.10.1
commonX==0.6.39
comtypes==1.4.14
contourpy==1.3.2
Crawl4AI==0.7.8
cryptography==46.0.3
cssselect==1.3.0
curl_cffi==0.14.0
cycler==0.12.1
cyclopts==4.4.2
darkdetect==0.8.0
dataclasses-json==0.6.7
decorator==5.2.1
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.4
edge-tts==7.2.7
email-validator==2.3.0
emoji==2.15.0
eval_type_backport==0.2.2
exceptiongroup @ file:///D:/RPK/exceptiongroup-1.3.0-py3-none-any.whl#sha256=4d111e6e0c13d0644cad6ddaa7ed0261a0b36971f6d23e7ec9b4b9097da78a10
executing==2.2.1
faiss-cpu==1.11.0
fake-http-header==0.3.5
fake-useragent==2.2.0
fakeredis==2.33.0
fastapi==0.127.1
fastmcp==2.14.1
fastuuid==0.14.0
filelock @ file:///D:/RPK/filelock-3.20.0-py3-none-any.whl#sha256=339b4732ffda5cd79b13f4e2711a31b0365ce445d95d243bb996273d072546a2
Flask==3.1.2
fonttools==4.61.1
frozenlist==1.8.0
fsspec @ file:///D:/RPK/fsspec-2023.5.0-py3-none-any.whl#sha256=51a4ad01a5bb66fcc58036e288c0d53d3975a0df2a5dc59a93b59bade0391f2a
future==1.0.0
gevent==25.9.1
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.45.0
google-genai==1.56.0
greenlet==3.3.0
griffe==1.7.3
grpcio==1.67.1
gui-agents==0.3.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanize==4.15.0
hyperframe==6.1.0
idna==3.10
imagesize==1.4.1
importlib_metadata==8.7.1
interchange==2021.0.4
ipython==8.37.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.2
jaraco.functools==4.4.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
jmcomic==2.6.10
joblib==1.5.3
json5==0.12.1
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
kb-manager==0.1.8
keyring==25.7.0
kiwisolver==1.4.9
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.5
langchain-openai==1.1.6
langchain-text-splitters==1.1.0
langsmith==0.5.1
lark==1.3.1
litellm==1.80.11
live2d-py==0.6.0.1
lupa==2.6
lxml==5.4.0
Markdown==3.8
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mcp==1.25.0
mdurl==0.1.2
modelscope==1.33.0
monotonic==1.6
more-itertools==10.8.0
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.7.0
mypy_extensions==1.1.0
nagaagent-core==1.0.9
neo4j==6.0.3
networkx==3.4.2
nltk==3.9.2
numpy==2.2.5
openai==2.14.0
openai-agents==0.0.13
openapi-pydantic==0.5.1
opencv-contrib-python==4.10.0.84
opencv-python==4.12.0.88
opentelemetry-api==1.39.1
opentelemetry-exporter-prometheus==0.60b1
opentelemetry-instrumentation==0.60b1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt-einsum==3.3.0
orjson==3.11.5
outcome==1.3.0.post0
packaging==25.0
paddleocr==3.3.2
paddlepaddle==3.2.2
paddlex==3.3.12
paho-mqtt==2.1.0
pandas==2.3.3
pansi==2024.11.0
parso==0.8.5
patchright==1.56.0
pathable==0.4.4
pathspec==0.12.1
pathvalidate==3.3.1
pefile==2023.2.7
pillow==11.3.0
platformdirs==4.5.1
playwright==1.52.0
prettytable==3.17.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.2
psutil==7.2.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-key-value-aio==0.3.0
py-key-value-shared==0.3.0
py2neo==2021.2.4
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycaw==20251023
pyclipper==1.4.0
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydocket==0.16.3
pyee==13.0.0
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyJWT==2.10.1
PyMsgBox==2.0.1
pymupdf==1.28.0
PyMySQL==1.1.2
pyneo==0.2.0
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
pyparsing==3.3.1
PyPDF2==3.0.1
pypdfium2==5.2.0
pyperclip==1.11.0
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.2
PyRect==0.2.0
PyScreeze==1.0.1
PySide6==6.10.1
PySide6-Fluent-Widgets==1.11.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
PySideSix-Frameless-Window==0.8.0
PySocks==1.7.1
pytesseract==0.3.13
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
python-json-logger==4.0.0
python-multipart==0.0.21
pytokens==0.3.0
pytweening==1.2.0
pytz==2025.2
pyvis==0.3.2
pywin32==311
pywin32-ctypes==0.2.3
pywinauto==0.6.9
PyYAML==6.0.2
rank-bm25==0.2.2
redis==7.1.0
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
rich-rst==1.3.2
rpds-py==0.30.0
rsa==4.9.1
rtree==1.4.1
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.15.2
screen_brightness_control==0.24.3
selenium==4.39.0
sentence-transformers==4.1.0
shapely==2.1.2
shellingham==1.5.4
shiboken6==6.10.1
six==1.17.0
smmap==5.0.2
sniffio @ file:///D:/RPK/sniffio-1.3.1-py3-none-any.whl#sha256=2f6da418d1f1e0fddd844478f41680e794e6051915791a034ff65e5f100525a2
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sounddevice==0.5.3
soundfile==0.13.1
soupsieve==2.8
SQLAlchemy==2.0.45
sse-starlette==2.3.3
stack-data==0.6.3
starlette==0.46.2
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tf-playwright-stealth==1.2.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tk==0.1.0
together==1.5.34
tokenizers==0.21.4
toml==0.10.2
tomli==2.3.0
torch==2.9.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
trimesh==4.10.1
trio==0.32.0
trio-websocket==0.12.2
typer==0.19.2
types-requests==2.32.4.20250913
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.11.0
urllib3==2.6.2
uuid_utils==0.12.0
uv==0.8.18
uvicorn==0.40.0
watchfiles==1.1.1
wcwidth==0.2.14
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.4
WMI==1.5.1
wrapt==1.17.3
wsproto==1.3.2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zope.event==6.1
zope.interface==8.1.1
zstandard==0.25.0
